<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-links">
            <a href="{%url 'home' %}">Home</a>
            <a href="#">Our Exciting Events</a>
            <a href="{% url 'blog'%}">Blog</a>
            <a href="#contact-section">Contact</a>
            <a href="{% url 'plan'%}">Plan</a>
        </div>
        <div class="social-icons">
            <a href=""><img src="/static/images/pixelcut-export(1)_Nero AI_Standard_Face.png" alt="" style="width: 300px; height: 200px;position: relative; left:-120px; top: 100px;"></a>
            <a href="#"><i class="fa-brands fa-facebook" style="color: #74C0FC;"></i></a>
            <a href="https://www.instagram.com/iamvivek__11/"><i class="fa-brands fa-instagram" style="color: #630e0c;"></i></a>
           <a href=""> <i class="fa-brands fa-youtube" style="color: #ff0000;"></i></a>
            <a href="https://github.com/VivekXplore/hey-vivek.git"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/bibek-acharya-b86063311/"><i class="fa-brands fa-linkedin" style="color: #0080ff;"></i></a>
            <p style="font-size: 20px; text-align: center; position: relative;">
                &copy; 2025 Booksy.Io All Rights Reserved.
            </p>
        </div>
    </footer>
</body>
</html>